SYNTHEA_ROOT=/Users/azizdouagi/Documents/Stage/Wevioo/synthea
SYNTHEA_OUTPUT_DIR=/Users/azizdouagi/Documents/Stage/Wevioo/synthea/output_claimshield
CLAIMSHIELD_DATASETS_DIR=./datasets
CLAIMSHIELD_STORAGE_DIR=./storage
CLAIMSHIELD_INBOX_DIR=./storage/inbox
CLAIMSHIELD_QUARANTINE_DIR=./storage/quarantine